rootFolder = ./
#rootFolder = /work1/pcs155251/Models/TIM/ipeps/
@wvLoadFolder = su_b/
enLoadFolder = su_1e-2/
@saveFolder = su/
ifloadWv   = 0
ifsu       = 1
iffu       = 0
ifsaveEn   = 0
virDim     = 2
edgeDimL   = 30
edgeDimU   = 30
fuIter     = 1000
fuStop     = 1.0e-7
ctmIter    = 200
ctmStop    = 1.0e-8
suIter     = 2000000
suStop     = 1.0e-10
taus       = 1.0e-2
@fieldLoad = 3.1
fieldStart =  3.00
fieldDelta =  0.10 
fieldEnd   =  3.01
