rootFolder = ./
#rootFolder = /work1/pcs155251/Models/TIM/ipeps/
@wvLoadFolder = su/
enLoadFolder = su_1e-2/
@saveFolder = fD3/
ifloadWv   = 1
ifsu       = 0
iffu       = 1
ifsaveEn   = 1
virDim     = 2
edgeDimL   = 20
edgeDimU   = 20
fuIter     = 1000
fuStop     = 1.0e-7
ctmIter    = 200
ctmStop    = 1.0e-8
suIter     = 2000000
suStop     = 1.0e-10
taus       = 1.0e-2
@field     = 3.0
@fieldLoad = 3.1
fieldStart = 3.0
fieldDelta = 0.1  
fieldEnd   = 3.0 
